@media screen and (max-width: 1110px) {
    .menu,
    .social {
        display: none;
    }

    .logo {
        width: 200px;
        height: 100px;
    }

    #btn-menu,
    #menu-mobile {
        display: block;
    }

    #menu-mobile.active {
        height: calc(100vh - 77px);
        visibility: visible;
    }
}

@media screen and (max-width: 900px) {
    .img-desktop {
        display: none;
    }

    .img-mobile {
        display: block;
    }

    .nav-auto,
    .nav-manual {
        margin-top: 60%;
    }
}

/* Ajustes responsivos para Dropdown */
@media screen and (max-width: 900px) {
    .dropdown-content {
        position: static;
        box-shadow: none;
        width: auto;
    }
    .dropdown:hover .dropdown-content {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
}
