
@media screen and (max-width: 768px) {
    
    .menu,
    .social {
      display: none;
    }
  
    .logo {
      width: 150px; 
      height: auto; 
    }
  

    #btn-menu,
    #menu-mobile {
      display: flex;
      flex-direction: column; 
    }
  
    
    #menu-mobile.active {
      height: calc(100vh - 77px);
      visibility: visible;
    }
  
    
    .img {
      background-image: url("image.jpg"); 
      background-size: cover; 
      background-position: center; 
    }
  
   
    .nav-auto,
    .nav-manual {
      margin-top: 1rem; 
  